@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This web app was made as a submission for Assignment 1 to INT422.</p>
<form action="http://iantipson.com/2016/01/19/assignment-1/">
    <input type="submit" value="Requirements">
</form>
