@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Seneca College
    70 The Pond Rd<br />
    North York, ON M3J 3M6<br />
    <abbr title="Phone">P:</abbr>
    (416) 491-5050
</address>

<address>
    Contact Larissa:<br />
    <a href="mailto:hi@larissavoigt.com">E-mail</a><br />
    <a href="http://www.github.com/larissavoigt">GitHub</a>
</address>