@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="Aligner">
            <div class="Aligner-item">
                <h1>INT422</h1>
                <h2>Assignment 3</h2>
                <h6>Common interaction patterns in a web app that uses a persistent store.</h6>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
